<body>
  <div class="container">
    <!-- Botones en la parte superior -->

    <!-- Botones en la parte superior -->
    <div class="btn-group" role="group">
      <button
        *ngFor="let entity of entities"
        type="button"
        class="btn animated-btn"
        (click)="setSelectedEntity(entity.value)"
      >
        {{ entity.label }}
      </button>
    </div>
    <!-- 
    Área de contenido
    <div class="content-area">
      <div class="sidebar">
        <div *ngIf="selectedEntity === 'movies'">
          <button class="add-entity-btn" (click)="addNewMovie()">
            <i class="fas fa-plus-circle"></i>
            Agregar película
          </button>

          <ng-container *ngIf="movies && movies.length > 0; else noEntity">
            <ul>
              <li *ngFor="let movie of movies">
                <button class="list-entities-btn" (click)="selectMovie(movie)">
                  <img [src]="movie.image" alt="{{ movie.oname }}" />
                  <div class="list-entities-info">
                    <h2>{{ movie.oname }}</h2>
                    <p>{{ movie.cname }}</p>
                  </div>
                </button>
              </li>
            </ul>
          </ng-container>
          <ng-template #noEntity>
            <div class="no-entity-message">
              <p>No se encontraron películas 🎬</p>
            </div>
          </ng-template>
        </div>
      </div>
      </div>

      <!-- Editor 
      <div class="editor">
        <!-- Flies 
        <div *ngIf="selectedEntity === 'flights' && selectedFlight != null">
          <h2>Editando vuelo: {{ selectedFlight.ffrom }}</h2>
          <form></form>
        </div>
      </div>
    </div> -->
  </div>
</body>
