<footer class="copa-footer">
  <div class="container">
    <div class="section">
      <h4>TECAir S.A</h4>
      <ul>
        <li><a>Estudiantes</a></li>
        <li><a href="#">Carlos Mata</a></li>
        <li><a href="#">Felipe Vargas</a></li>
        <li><a href="#">Ignacio Calderon</a></li>
        <li><a href="#">Jose Umaña</a></li>
        <li><a href="#">David Maldonado No sé jsjsjs</a></li>
      </ul>
    </div>
    <div class="section">
      <h4>Proyecto 1</h4>
      <ul>
        <li><a href="#">Bases de Datos</a></li>
        <li><a href="#">Ing. Marco Rivera Meneses</a></li>
        <li><a href="#">EScuela de Ing. en Computadores</a></li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p>
        TECAIRlines<br />
        Copyright © 2023 Tec Air, Inc. Todos los derechos reservados
      </p>
      <p>Un miembro de Star Alliance</p>
    </div>
  </div>
</footer>
