<footer class="copa-footer">
  <div class="container">
    <div class="section">
      <h4>TECAir S.A</h4>
      <ul>
        <li>Estudiantes</li>
        <li><a href="https://github.com/Carlos12001">Carlos Mata</a></li>
        <li><a href="https://github.com/Felipe-V13">Felipe Vargas</a></li>
        <li><a href="https://github.com/Apollo13-0">Ignacio Calderon</a></li>
        <li><a href="https://github.com/jcur02">Jose Umaña</a></li>
        <li>
          <a href="https://github.com/diabloget">David Robles</a>
        </li>
      </ul>
    </div>
    <div class="section">
      <h4>Proyecto 1</h4>
      <ul>
        <li>Licenciatura Ingeniería en Computadores</li>
        <li>CE3101 - Bases de Datos</li>
        <li>
          <a href="https://www.tec.ac.cr/marco-rivera-meneses"
            >Ing. Marco Rivera Meneses</a
          >
        </li>
        <li>Escuela de Ing. en Computadores</li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p>
        TECAIRlines<br />
        Copyright © 2023 Tec Air, Inc. Todos los derechos reservados
      </p>
      <p>Un miembro de Star Alliance</p>
    </div>
  </div>
</footer>
