.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.maletas-input,
.price-input {
  width: 30%;
}

.color-dropdown {
  width: 35%;
}

.controls {
  display: flex;
  justify-content: space-between;
}
